@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --red500: hsl(356, 100%, 66%);
  --red400: hsl(355, 100%, 74%);
  --blue900: hsl(208, 49%, 24%);

  --white: hsl(0, 100%, 100%);
  --gray600: hsl(207, 13%, 34%);
  --gray900: hsl(240, 10%, 16%);
  --orange300: hsl(13, 100%, 72%);
  --red550: hsl(353, 100%, 62%);
  --purple950: hsl(237, 17%, 21%);
  --purple900: hsl(237, 23%, 31%);
  --primary-font: "Overpass", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
  --transition: all, 0.4s, ease;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  --padding: 10rem;
  --line-height: 1.8;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--gray600);
  min-width: 100vw;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  font-weight: 300;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

/* === hero section === */

.section__hero {
  background: url("./images/bg-pattern-intro-desktop.svg"),
    linear-gradient(90deg, var(--orange300), var(--red550));
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: 200%, 100%;
  background-blend-mode: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.25rem 0 10rem 0;
  border-radius: 0 0 0 6.25rem;
}

.top-logo {
  width: 6.25rem;
  display: block;
}

.headerNav-ul {
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerNav-ul li {
  list-style: none;
  display: flex;
  color: var(--white);
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
  font-weight: var(--fw500);
}

.headerNav-ul li:hover {
  text-decoration: underline;
}

.text-btn {
  border: none;
  background: none;
  font-family: var(--secondary-font);
  color: var(--white);
  cursor: pointer;
  font-weight: var(--fw500);
  font-size: 1rem;
}

.text-btn:hover {
  text-decoration: underline;
}

.filled-btn {
  border: none;
  background-color: var(--white);
  color: var(--red500);
  font-family: var(--secondary-font);
  font-weight: var(--fw600);
  padding: 0.75rem 2rem;
  border-radius: 6.25rem;
  box-shadow: 0rem 0.125rem 0.375rem hsla(356, 66%, 59%, 0.4);
  cursor: pointer;
  font-size: 1rem;
}

.filled-btn:hover {
  color: var(--white);
  background-color: hsla(0, 100%, 100%, 0.15);
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin: 0 auto;
  padding: 3.5rem var(--padding);
  position: fixed;
  top: 0;
  z-index: 40;
  background: linear-gradient(
    90deg,
    hsla(13, 100%, 72%, 0.9),
    hsla(353, 100%, 62%, 0.9)
  );
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

h1 {
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  font-weight: var(--fw400);
  padding-top: 7.5rem;
  width: 70vw;
}

h3 {
  color: hsla(0, 100%, 100%, 0.8);
  font-weight: 300;
  text-align: center;
  padding: 0.625rem 0 2.5rem 0;
}

#start-btn {
  padding: 0.75rem 0;
  width: 8.125rem;
}

.outlined-btn {
  border: 0.0625rem solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: var(--fw600);
  padding: 0.75rem 0rem;
  width: 8.125rem;
  border-radius: 6.25rem;
  box-shadow: 0rem 0.125rem 0.375rem hsla(356, 66%, 59%, 0.4);
  cursor: pointer;
  font-size: 1rem;
}

.outlined-btn:hover {
  background-color: var(--white);
  color: var(--red400);
}

.two-buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* === hamburger menu === */

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.hamburger-menu {
  background: var(--white);
  border-radius: 0.375rem;
  padding: 2rem 1.5rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 9.375rem;
  overflow-y: scroll;
  left: 100%;
  transform: translateX(0%);
  box-shadow: 0.625rem 0.625rem 1.25rem hsla(356, 43%, 28%, 0.2);
}

.slide-in {
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.6s ease-in;
}

.slide-out {
  left: 150%;
  transition: left 0.6s ease-in;
}

.accordion {
  width: 100%;
}

#accordion3 {
  border-bottom: 0.0625rem solid hsla(207, 13%, 34%, 0.2);
}
.accordion-title {
  font-family: var(--secondary-font);
  color: var(--blue900);
  font-weight: var(--fw500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.0625rem;
  cursor: pointer;
}

.accordion-title:hover {
  font-weight: var(--fw600);
}

.accordion-ul {
  border-radius: 0.5rem;
  list-style: none;
  font-family: var(--secondary-font);
  font-weight: var(--fw400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: hsla(207, 13%, 34%, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.accordion-ul li {
  color: hsla(207, 13%, 34%, 0.8);
  cursor: pointer;
}

.accordion-ul li:hover {
  font-weight: var(--fw600);
}

.hamburger-btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#hamburger-textBtn {
  color: var(--gray900);
}

#hamburger-filledBtn {
  background: linear-gradient(to right, var(--orange300), var(--red550));
  color: var(--white);
}

#hamburger-filledBtn:hover {
  background: linear-gradient(to right, var(--orange300), var(--red550) 10%);
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 23;
}

/* === dropdown menu === */

.dropdown-ul {
  /* display: flex; */
  flex-direction: column;
  border-radius: 0.25rem;
  background: var(--white);
  padding: 1.5rem;
  gap: 1rem;
  width: 11.25rem;
  box-shadow: 0.625rem 0.625rem 1.25rem hsla(356, 34%, 15%, 0.2);
  margin-top: 1.5rem;
  position: absolute;
  z-index: 20;
}

.dropdown-ul li {
  color: var(--gray600);
  list-style: none;
  font-family: var(--secondary-font);
  font-weight: var(--fw400);
  cursor: pointer;
}

.dropdown-ul li:hover {
  font-weight: var(--fw600);
  text-decoration: none;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.opacity {
  opacity: 0;
}

.turn {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  transition: transform 1s ease;
}

.unturn {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 1s ease;
}

/* === designed for the future section === */

.section__designed {
  padding: 10rem var(--padding);
  position: relative;
  overflow-x: hidden;
}

.section__designed-h2 {
  color: var(--blue900);
  font-size: 2.5rem;
  font-weight: var(--fw600);
  text-align: center;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 11.25rem;
  left: 50vw;
  padding: 0 24px;
}

.article-title {
  font-size: 1.75rem;
  font-weight: var(--fw500);
  color: var(--blue900);
  padding-bottom: 2rem;
}

.article-text {
  color: hsla(207, 13%, 34%, 0.7);
  line-height: var(--line-height);
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  padding-top: 8.75rem;
}

.section__designed-img {
  background-image: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.section__designed-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vw;
  width: 100%;
  gap: 8.75rem;
}

/* === state of the art section === */

.section__state {
  background: url("./images/bg-pattern-circles.svg"),
    linear-gradient(var(--purple900), var(--purple950));
  background-repeat: no-repeat;
  background-position: top 80% left -40%;
  border-radius: 0 6.25rem 0 6.25rem;
  position: relative;
  width: 100%;
  height: 20rem;
}

.section__state-h2 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: var(--fw600);
}

.section__state-p {
  color: hsla(0, 100%, 100%, 0.8);
  line-height: var(--line-height);
  padding-top: 2rem;
}

.section__state-text {
  padding: 6.25rem 0;
}

.section__state-img {
  background-image: url("./images/illustration-phones.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.section__state-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2.5rem;
  position: absolute;
  z-index: 12;
  top: -2.5rem;
  padding: 0 var(--padding);
}

/* === free open section === */

.section__free {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 10rem 0;
  gap: 2.5rem;
}

.section__free-img {
  background-image: url("./images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right -10%;
}

.section__free-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 6.25rem var(--padding) 2.5rem 0;
}

/* === footer === */

footer {
  background: var(--gray900);
  padding: 5rem var(--padding);
  border-radius: 0 6.25rem 0 0;
  display: grid;
  grid-template-columns: 30% 70%;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footerNav-container {
  display: flex;
  flex-direction: column;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerNav-title {
  color: var(--white);
  font-weight: var(--fw500);
  padding-bottom: 2.5rem;
  cursor: pointer;
  font-family: var(--secondary-font);
}

.footer-ul li {
  list-style: none;
  color: hsla(0, 100%, 100%, 0.7);
  cursor: pointer;
  font-family: var(--secondary-font);
}

.footer-ul li:hover {
  text-decoration: underline;
}

.footer-logo {
  cursor: pointer;
}

.attribution {
  background-color: var(--gray900);
  font-size: 0.625rem;
  color: hsla(0, 100%, 100%, 0.4);
  padding-bottom: 1.5rem;
}

/* ==== responsive ==== */

@media screen and (max-width: 65rem) {
  :root {
    --padding: 5rem;
  }
}

@media screen and (max-width: 53.125rem) {
  :root {
    --padding: 2.5rem;
  }
  .headerNav-ul {
    display: none;
  }
  .header-btns {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  h1 {
    width: 80vw;
  }
  h3 {
    font-size: 1.5rem;
    width: 80vw;
  }

  .section__designed {
    padding: 10rem 0;
    position: relative;
    overflow-x: hidden;
  }

  .section__designed-h2 {
    position: unset;
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 2.5rem;
  }

  .section__designed-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .section__designed-img {
    background: url("./images/illustration-editor-mobile.svg");
    background-repeat: no-repeat;
    grid-row-start: 1;
    width: 80vw;
    height: 25rem;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 0;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }

  .section__state-wrapper {
    grid-template-columns: 1fr;
    gap: 0;
    top: -8.75rem;
    margin: 0 auto;
  }

  .section__state-img {
    grid-row-start: 1;
    width: 100%;
    height: 37.5rem;
    background-position: center;
  }

  .section__state {
    height: 50rem;
  }

  .section__state-text {
    padding: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .section__state-p {
    padding: 2rem 0 0 0;
  }

  .section__free {
    grid-template-columns: 1fr;
    margin: 6.25rem 0 7.5rem 0;
  }

  .section__free-img {
    width: 90vw;
    height: 35rem;
    margin: 0 auto;
    background-image: url("./images/illustration-laptop-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section__free-container {
    display: flex;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }
}

@media screen and (max-width: 41.25rem) {
  .section__state-wrapper {
    top: -6.25rem;

    justify-content: center;
  }
  .section__state-img {
    width: 100%;
    height: 31.25rem;
  }

  .section__free {
    margin: 2.5rem 0 7.5rem 0;
    gap: 0;
  }

  .section__free-img {
    height: 25rem;
    background-size: cover;
  }

  footer {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer-nav {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    text-align: center;
  }
  .footer-logo {
    display: flex;
    justify-self: center;
  }
}

@media screen and (max-width: 28.125rem) {
  header {
    padding: 24px var(--padding);
  }
  .hamburger-menu {
    top: 100px;
  }
  h1 {
    padding-top: 40px;
    font-size: 3rem;
  }

  .two-buttons {
    flex-direction: column;
  }

  .section__designed-h2,
  .section__state-h2 {
    font-size: 2rem;
  }
  .section__designed {
    padding-top: 3.5rem;
  }
  .section__designed-img {
    height: 200px;
    position: top;
  }

  .section__state {
    height: 680px;
  }

  .section__state-wrapper {
    top: -50px;
  }
  .section__state-img {
    background-size: contain;
    height: 240px;
  }

  .section__free-img {
    height: 22.5rem;
  }
}

@media screen and (max-width: 380px) {
  .section__state {
    height: 800px;
  }
}
