@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --red500: hsl(356, 100%, 66%);
  --red400: hsl(355, 100%, 74%);
  --blue900: hsl(208, 49%, 24%);

  --white: hsl(0, 100%, 100%);
  --gray600: hsl(207, 13%, 34%);
  --gray900: hsl(240, 10%, 16%);
  --orange300: hsl(13, 100%, 72%);
  --red550: hsl(353, 100%, 62%);
  --purple950: hsl(237, 17%, 21%);
  --purple900: hsl(237, 23%, 31%);
  --primary-font: "Overpass", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
  --transition: all, 0.4s, ease;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  /* --width: clamp(400px, 80vw, 1100px); */
  --padding: 160px;
  --line-height: 1.8;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--gray600);
  min-width: 100vw;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  font-weight: 300;
  overflow-x: hidden;
}

/* === hero section === */

.section__hero {
  background: url("./images/bg-pattern-intro-desktop.svg"),
    linear-gradient(90deg, var(--orange300), var(--red550));
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: 200%, 100%;
  background-blend-mode: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
  border-radius: 0 0 0 100px;
}

.top-logo {
  width: 100px;
  display: block;
}

.headerNav-ul {
    font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  gap: 32px;
}

.headerNav-ul li {
  list-style: none;
  display: flex;
  color: var(--white);
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: var(--fw500);
}

.headerNav-ul li:hover{
    text-decoration: underline;
}

.text-btn {
  border: none;
  background: none;
  font-family: var(--secondary-font);
  color: var(--white);
  cursor: pointer;
  font-weight: var(--fw500);
  font-size: 16px;
}

.text-btn:hover{
    text-decoration: underline;
}

.filled-btn {
  border: none;
  background-color: var(--white);
  color: var(--red500);
  font-family: var(--secondary-font);
  font-weight: var(--fw600);
  padding: 12px 32px;
  border-radius: 100px;
  box-shadow: 0px 2px 6px hsla(356, 66%, 59%, 0.4);
  cursor: pointer;
  font-size: 16px;
}

.filled-btn:hover{
    color: var(--white);
    background-color:hsla(0, 100%, 100%, .15);
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  /* width: var(--width); */
  padding: 56px var(--padding);
}

h1 {
  font-size: 64px;
  color: var(--white);
  text-align: center;
  font-weight: var(--fw400);
  padding-top: 72px;
}

h3 {
  color:hsla(0, 100%, 100%, .8);
  font-weight: 300;
  text-align: center;
  padding: 10px 0 40px 0;
}

#start-btn {
  padding: 12px 0;
  width: 130px;
}

.outlined-btn {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: var(--fw600);
  padding: 12px 0px;
  width: 130px;
  border-radius: 100px;
  box-shadow: 0px 2px 6px hsla(356, 66%, 59%, 0.4);
  cursor: pointer;
  font-size: 16px;
}

.outlined-btn:hover{
    background-color: var(--white);
    color: var(--red400);
}

.two-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* === hamburger menu === */

.hamburger-menu{
    background: var(--white);
    border-radius: 6px;
    padding: 32px 24px;
    width: clamp(600px, 90vw, 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion{
    width: 100%;
}

#accordion3{
    border-bottom: 1px solid hsla(207, 13%, 34%, .2);
}
.accordion-title{
    font-family: var(--secondary-font);
    color: var(--blue900);
    font-weight: var(--fw500);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 17px;
}


.accordion-ul{
    border-radius: 8px;
    list-style: none;
font-family: var(--secondary-font);
font-weight: var(--fw400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background:hsla(207, 13%, 34%, .1);
padding: 32px;
margin-bottom: 32px;
}


.accordion-ul li{
    color: hsla(207, 13%, 34%, .8);
    cursor:pointer;
}


.hamburger-btns{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ===== START FROM  HERE === */
#hamburger-textBtn{
    color: var(--gray900);
}

#hamburger-filledBtn{
background: linear-gradient(to right, var(--orange300), var(--red550));
color: var(--white);
}

/* === dropdown menu === */

.dropdown-ul{
    /* display: flex; */
    flex-direction: column;
    border-radius: 4px;
    background: var(--white);
    padding: 24px;
    gap: 16px;
   width: 180px;
   box-shadow: 10px 10px 20px hsla(356, 34%, 15%, 0.2);
   margin-top: 24px;
       position: absolute;
    z-index: 20;
}

.dropdown-ul li{
    color: var(--gray600);
    list-style: none;
 font-family: var(--secondary-font);
 font-weight: var(--fw400);
 cursor:pointer;
}

.dropdown-ul li:hover{
    font-weight: var(--fw600);
    text-decoration: none;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}
/* === designed for the future section === */

.section__designed {
  padding: 160px var(--padding);
  position: relative;
}

.section__designed-h2 {
  color: var(--blue900);
  font-size: 40px;
  font-weight: var(--fw600);
  text-align: center;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 180px;
  left: 50vw;
}

.article-title {
  font-size: 28px;
  font-weight: var(--fw500);
  color: var(--blue900);
  padding-bottom: 32px;
}

.article-text {
  color: hsla(207, 13%, 34%, 0.7);
  line-height: var(--line-height);
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 140px;
}

.section__designed-img {
  background-image: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.section__designed-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vw;
  width: 100%;
  gap: 140px;
}

/* === state of the art section === */

.section__state {
  background: url("./images/bg-pattern-circles.svg"),
    linear-gradient(var(--purple900), var(--purple950));
  background-repeat: no-repeat;
  background-position: top 80% left -40%;
  border-radius: 0 100px 0 100px;
  position: relative;
  width: 100%;
  height: 400px;
}

.section__state-h2 {
  color: var(--white);
  font-size: 40px;
  font-weight: var(--fw600);
}

.section__state-p {
  color: hsla(0, 100%, 100%, 0.8);
  line-height: var(--line-height);
  padding-top: 32px;
  padding-right: var(--padding);
}

.section__state-text {
  padding: 100px 0;
}

.section__state-img {
  background-image: url("./images/illustration-phones.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.section__state-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 100px;
  position: absolute;
  z-index: 12;
  top: -40px;
  padding: 0 var(--padding);
}

/* === free open section === */

.section__free{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 160px 0;
    gap: 40px;
}

.section__free-img{
    background-image: url('./images/illustration-laptop-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right -10%;
}

.section__free-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px var(--padding) 40px 0;
}

/* === footer === */

footer{
    background: var(--gray900);
    padding: 80px var(--padding);
    border-radius: 0 100px 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

.footer-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footerNav-container{
    display: flex;
    flex-direction: column;

}

.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footerNav-title{
    color: var(--white);
    font-weight: var(--fw500);
    padding-bottom: 40px;
    cursor:pointer;
    font-family: var(--secondary-font);
}

.footer-ul li{
    list-style: none;
    color: hsla(0, 100%, 100%, .7);
    cursor:pointer;
    font-family: var(--secondary-font);
}

.footer-ul li:hover{
    text-decoration: underline;
}

.attribution{
    background-color: var(--gray900);
    font-size: 10px;
    color:hsla(0, 100%, 100%, 0.4);
    padding-bottom:24px;
}